<% if flash.now[:notice] %>
<div class="alert alert-success">
  <div class="notice">
    <%= flash.now[:notice] %>
    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<% end %>

<div class="jumbotron mr-2">
  <img class="rounded float-right img-thumbnail img-fluid m-2"
    src="https://blog.oxforddictionaries.com/wp-content/uploads/gossip-pop-art-men.jpg"
    alt="potin">
  <h1 class="display-4">Bienvenue sur Gossip Project&nbsp!</h1>
  <p class="lead">Les potins les plus intéressants de THP !</p>
  <hr class="my-4">
  <% if session[:user_id] != nil %>
    <p>Crache ton venin :</p>
    <%= link_to "Ajouter un potin", new_gossip_path,:class => "btn-danger btn btn-lg"%>
  <% else %>
    <p>Inscris-toi pour cracher ton venin :</p>
    <%= link_to "Je m'inscris", new_user_path,:class => "btn-danger btn btn-lg"%>
  <% end %>
</div>

      <div class="card-columns border-info container">
      <div class="row">
        <% @gossip.each do |i|
        @title = i.title
        @content = i.content
        @user = i.user
        %>
          <div class="col-sm-7">
            <div class="card mb-3 box-shadow">
              <div class="card-body">
                <small class="text-muted"><%= @user.first_name %></small>
                <p class="card-text"><%= @content %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/gossip/show"><button type="button"
                      class="btn btn-sm btn-outline-secondary">View</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
